<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">{{createName()}} {{msg2}}
        <div v-if="isday">Light</div>
        <div v-if="!isday">dark</div>
        <div v-else v-on:click="createName">green</div> <!-- or use @click=" "--> 
    </div>

    
    <script src="./week3.js"></script>
   
</body>
</html>